.my-order h2 {
    text-align: center;
}

.my-account {
    padding-left: 40%;
}

.my-account-btn{
    margin-top: 100px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    padding-left: 10%;
}

.nav-tabs, .nav-pills {
    text-align:left;
}

.requests, .purchases{
    text-align: center;
}
.requests-detail, .purchases-detail{
    padding-top: 15px;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
}

.request-box, .purchase-box{
    padding-bottom: 10px;
}

.page > li {
    float:none;
    display:inline-block;
    padding-left: 10%;
}

.page-button {
    padding-left: 15%;
}
