.jumbotron {
  background-image:url('http://goo.gl/04j7Nn');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.neighborhood-guides{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p{
    margin-bottom: 13px;
    font-size: 15px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.origou-logo {
    margin: 10px;
}

.origou-logo > li {
    display: inline-block;
}

.origou-logo > li > a > img {
    width: 160px;
    height: 60px;
}

.login-panel {
    font-size: 15px;
}

.login-panel > li > a {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-transform: uppercase;
    text-decoration:none;
}

.login-panel > li {
    display: inline;
}

.login-form,
.signup-form {
    margin: auto;
    width: 30%;
    position: relative;
    top:60px;
}

.account-dropdown {
    margin: 15px 10px 10px;
}