{% extends 'master.html' %}
{% block primary %}

    <div class = "container">
      <h1> 常见问题（FAQ）</h1>
      <div>
          <h3>
              1. 源地购是什么？
          </h3>
          <blockquote>
              <p>
                   源地购（www.yuandigou.com或www.origou.com）是帮助中国消费者购买海外商品的绝佳选择，我们通过匹配消费者的需求和旅行者的行程，达成最优的“旅行代购”交易，同时签约世界各地的最靠谱的买手，帮助消费者以最实惠和最安全的方式买到心仪的商品。
『游物』微信公众号（you_things）以及『游物』有赞微商城，均为源地购网站旗下产品。
              </p>
          </blockquote>
      </div>

      <div>
          <h3>
              2. 源地购的主要用户和交易机制是怎样的？
          </h3>
          <blockquote>
              <p>
                   源地购的用户可以被分为两大类（当然，您也可以同时成为这两类用户）：买家和旅客（买手）。
              </p>
              <p>
                   买家用户怎么做？
              </p>
              <p>
                  （1）	在源地购上提交自己的商品求购单，当然是越具体越好啦，比如您需要从哪个国家买哪个品牌哪个款式的商品、期望收货时间、愿意出价金额、所在地点等等，把需求提交之后，就可以等待归国的旅客来接单啦。一旦被接单，您会进入交易敲定环节，如果一切谈妥，那么您就可以直接付款，款项由网站安全代收，等待宝贝漂洋过海送到家！
              </p>
              <p>
                  （2）	您也可以直接去“查看行程”中选择适合自己海淘路线的行程，然后直接向该旅客下单，更加方便快捷！
              </p>
              <p>
                    旅客用户怎么做？
              </p>
              <p>
                  （1）	在源地购上提交自己的行程信息，比如几月几日从哪里回国，可以分担多大体积、多大价格的商品，把行程提交之后，就可以等待买家来下单啦。一旦您确定接受下单，买家也付款完毕，您就可以帮助买家完成海淘了！如果一切顺利，您就可以获得一笔佣金收入！

              </p>
              <p>
                  （2）	您也可以直接去买家商品需求列表中选择适合自己行程的求购单，主动出击，更容易达成交易哦！
              </p>
              <p>
                  同时，源地购还签约了全球各地的靠谱买手，提供优质实惠的品牌商品的海外直邮购，买家可以直接去网站的买手专线板块直接进行选购。该板块与『游物』微信号、有赞微商城完全同步哦~
              </p>
          </blockquote>
      </div>

    </div>


{% endblock %}