{% extends 'master.html' %}
{% block primary %}
    <div class="neighborhood-guides">
        <table style="width:100%; left: 50px;">
            <td>
                <form action="/account/auth" method="POST">
                    {% csrf_token %}
                    <table class = "col-md-4" style="left:30%">
                        <tr>
                            <td><h1>登陆</h1></td>
                        </tr>
                        {% if error %}
                            <tr>
                                <td>Your username or password is incorrect.</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td><input name="username" type="text" placeholder="用户名" /></td>
                        </tr>
                        <tr>
                            <td><input name="password" type="password" placeholder="密码" /></td>
                        </tr>
                        <tr>
                            <td><button type="submit" style="alignment: right">登陆</button></td>
                        </tr>

                    </table>
                </form>
            </td>
            <td>
                <form action="/account/reg" method="POST">
                    {% csrf_token %}
                    <table class = "col-md-4" style="left:30%">
                        <tr>
                            <td><h1>注册</h1></td>
                        </tr>
                        <tr>
                            <td><input name="email" type="text" placeholder="邮箱" /></td>
                        </tr>
                        <tr>
                            <td><input name="phone" type="text" placeholder="电话" /></td>
                        </tr>
                        <tr>
                            <td><input name="password" type="password" placeholder="密码" /></td>
                        </tr>
                        <tr>
                            <td><input name="name" type="text" placeholder="姓名" /></td>
                        </tr>
                        <tr>
                            <td><button type="submit" style="alignment: center">注册</button></td>
                        </tr>
                    </table>
                </form>
            </td>
        </table>
    </div>

{% endblock %}
