{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'common/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'common/font-awesome/css/font-awesome.min.css' %}">
        <script src="{% static 'common/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'common/bootstrap/js/bootstrap.min.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'backpack/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'backpack/css/account.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'backpack/css/footer-basic-centered.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'backpack/css/product.css' %}">
    </head>

    <body>
        <div class="nav">
            <div class="container">
                <ul class="pull-left origou-logo">
                    <li><a href="/#"><img src="{% static 'backpack/img/logo.jpg' %}"></a></li>
{#                    <li>#}
{#                        <form method="get" action="/search">#}
{#                        <input id="quick-search" name="q" type="text" autocomplete="off" placeholder="搜索" class="typeahead">#}
{#                        </form>#}
{#                    </li>#}
                </ul>
                <ul class="pull-right login-panel">
                    {% if name %}
                        <div class="account-dropdown btn-group dropdown">
                            <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            欢迎 {{ name }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/account/landing">我的账户</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">登出</a></li>
                            </ul>
                        </div>
{#                        <li>欢迎 {{ name }}</li>#}
{#                        <li><a href="/account/profile">我的账户</a></li>#}
{#                        <li><a href="/account/logout" class="login">登出</a></li>#}
                    {% else %}
                        <li><a href="/login" class="btn btn-primary btn-sm">登录</a></li>
                        <li><a href="/signup" class="btn btn-success btn-sm">注册</a></li>
                        <li><a href="/faq" class="btn btn-info btn-sm">帮助</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% block primary %}{% endblock %}

        {% block footer %}
            <footer class="footer-basic-centered">
                <p class="footer-company-motto">源地购,购全球！</p>
                <p class="footer-links">
                    <a href="">首页</a>
                    ·
                    <a href="/faq">常见问题</a>
                    ·
                    <a href="#">联系我们</a>
                </p>
                <p class="footer-company-name">源地购 &copy; 2016</p>
            </footer>
        {% endblock %}
  </body>
</html>
