{% extends 'master.html' %}
{% block primary %}
    <script>
        function cancel(index, request_id) {
            document.getElementById("open").deleteRow(index);
            var form = document.createElement("form");
            var token = document.createElement("div")
            token.innerHTML = "{% csrf_token %}";
            console.log(request_id)
            form.setAttribute("method", "post");
            form.setAttribute("action", "/request/cancel/" + request_id);
            console.log(form.getAttribute("action"))
            form.appendChild(token);
            document.body.appendChild(form);
            form.submit();

        }
    </script>
    <div class="my-account">
        <div class="container">
            <h2>欢迎来到 {{ name }} 的账户</h2>
            <ul class="nav nav-pills ">
                <li class="active">
                    <a data-toggle="pill" href="?startIndex=0#requests">我的购物清单</a>
                </li>
                <li><a data-toggle="pill" href="?startIndex=0#purchases">我的发货清单</a></li>
            </ul>

            <div class="tab-content">
                <div id="requests" class="tab-pane fade in active">
                    <div class="row requests-detail">
                        <div class="col-sm-12">

                        {% if requests %}
                            {% for request in requests %}
                                <div class="row request-box">
                                    <div class="col-md-12">
                                        <div class="well well-lg">
                                            <h3 class="text-primary"><span class="label label-danger pull-right">{{ request.item.country }}</span> {{ request.item.name }} </h3>
                                            <p class="text-primary">{{ request.status }}</p>
                                            <br/>
                                            {% if request.status == 'Open' %}
                                                <button class="text-danger pull-right" onclick="cancel({{ forloop.counter0 }}, '{{ request.id }}')"> 取消我的订单 </button>
                                                <br/>
                                            {% elif request.status == 'Delivered' %}
                                                <a href="/request/complete/{{ request.id }}"><button class="text-danger pull-right" type="submit">确认接货</button></a>
                                                <br/>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row page">
                                <div class="col-sm-12 page-button">
                                    <form>
                                    <div class="row">
                                        {% for i in requests_page_size %}
                                            <div class="col-xs-3 text-center">
                                                <a href="?startIndex={% widthratio forloop.counter0 1 10 %} ">
                                                    <button type="button" class="btn btn-warning btn-lg" style="text-align:center;"> {{ forloop.counter }} </button>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            <p>暂时没有您的记录</p>
                        {% endif %}
                        </div>
                    </div>
            </div>
                <div id="purchases" class="tab-pane fade">
                    <div class="row purchases-detail">
                        <div class="col-sm-12">
                            {% if purchases %}
                                {% for purchase in purchases %}
                                    <div class="row purchase-box">
                                        <div class="col-md-12">
                                            <div class="well well-lg">
                                                <h3 class="text-primary"><span class="label label-danger pull-right">{{ purchase.item.country }}</span> {{ purchase.item.name }} </h3>
                                                <p class="text-primary">{{ purchase.status }}</p>
                                                <br/>
                                                {% if purchase.status == 'Assigned' %}
                                                    <a href="/request/ship/{{ purchase.id }}"><button class="text-danger pull-right" type="submit">我已买到</button></a>
                                                    <br/>
                                                {% elif purchase.status == 'Shipped' %}
                                                    <a href="/request/deliver/{{ purchase.id }}"><button class="text-danger pull-right" type="submit">交货</button></a>
                                                    <br/>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="row page">
                                    <div class="col-sm-12 page-button">
                                        <form>
                                        <div class="row">
                                            {% for i in purchases_page_size %}
                                                <div class="col-xs-3 text-center">
                                                    <a href="?startIndex={% widthratio forloop.counter0 1 10 %} ">
                                                        <button type="button" class="btn btn-warning btn-lg" style="text-align:center;"> {{ forloop.counter }} </button>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            {% else %}
                                <p>暂时没有您的记录</p>
                            {% endif %}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
