{% extends 'master.html' %}
{% block primary %}

    <div class="jumbotron">

        {% if request_created %}
            <div class="confirmation">
                <p>You have submitted a request. We will contact you when your request in taken.</p>
                <p><a href="/">click here to return home</a></p>
            </div>
        {% elif request_assigned %}
            <div class="confirmation">
                <p>You have taken a request. Please update the status of the request when ready.</p>
                <p><a href="/">click here to return home</a></p>
            </div>
        {% else %}
            <form action="/request/create", method="POST">
                {% csrf_token %}
                <table width=100% height="80%">
                    <tr>
                        <p colspan="4">下单基本信息 </p>
                    </tr>
                    <tr>
                        <td>最看重什么</td>
                        <td>
                            <select name="item_type">
                              <option value="0">价格便宜</option>
                              <option value="1">国内买不到</option>
                            </select>
                        </td>
                        <td>想买什么</td>
                        <td>
                            <input type="text" name="item_name" />
                        </td>
                    </tr>
                    <tr>
                        <td>数量</td>
                        <td>
                            <select name="item_quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </td>
                        <td>想从哪儿淘</td>
                        <td>
                            <input type="text" name="item_country" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"><button type="submit">下单</button></td>
                    </tr>
                </table>
            </form>
        {% endif %}


    </div>
{% endblock %}