{% extends 'master.html' %}
{% block primary %}
    <div class="signup-form">
        <form action="/account/reg" method="POST">
            {% csrf_token %}
            {% if email_error %}
                <div class="alert alert-danger" role="alert">
                    请输入您的有效邮箱
                </div>
            {% endif %}
            {% if phone_error %}
                <div class="alert alert-danger" role="alert">
                    请输入您的有效手机号
                </div>
            {% endif %}
            {% if password_error %}
                <div class="alert alert-danger" role="alert">
                   为了您的安全，请输入六位以上的密码
                </div>
            {% endif %}
            {% if dulpicate_error %}
                <div class="alert alert-danger" role="alert">
                    您的手机或邮箱已经被注册
                </div>
            {% endif %}
            <div class="form-group">
                <label for="input-email">邮箱</label>
                <input type="email" class="form-control" name="email" id="input-email" placeholder="邮箱地址">
            </div>
            <div class="form-group">
                <label for="input-password">密码</label>
                <input type="password" class="form-control" name="password" id="input-password" placeholder="密码">
            </div>
            <div class="form-group">
                <label for="input-phone">电话</label>
                <input type="text" class="form-control" name="phone" id="input-phone" placeholder="电话号码">
            </div>
            <div class="form-group">
                <label for="input-name">姓名</label>
                <input type="text" class="form-control" name="name" id="input-name" placeholder="姓名">
            </div>
            <button type="submit" class="btn btn-default">注册</button>
            <a class="btn btn-default" href="/">取消</a>
        </form>
    </div>
{% endblock %}
